{
  "openapi": "3.0.3",
  "info": {
    "title": "Scalev API",
    "version": "3.0.0",
    "description": "Public v3 commerce contract for storefront, customer, and authenticated business\ncommerce flows.\n\nThis specification intentionally documents only the `/v3` namespace.\nStore-derived public storefront routes under `/v3/stores/{store_id}/public/*` require `X-Scalev-Storefront-Api-Key`.\nHTML Mode public page runtime routes under `/v3/pages/{page_unique_id}/*` require `X-Scalev-Page-Api-Key` and do not accept storefront public API keys.\nStorefront API requests made with `X-Scalev-Storefront-Api-Key`, page runtime requests made with `X-Scalev-Page-Api-Key`, and guest-cart requests made with `X-Scalev-Guest-Token` are browser client requests and use the direct client/IP rate limiter. Machine-authenticated business requests are rate-limited per API key or OAuth installation. Rate-limit metadata is returned in `X-Ratelimit-*` headers, and `429` responses may be plain text.\n",
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.scalev.com",
      "description": "Production"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Orders",
      "description": "Authenticated business order management endpoints."
    },
    {
      "name": "Storefront",
      "description": "Public storefront catalog, guest cart, and guest checkout flows. All store-derived public storefront routes require `X-Scalev-Storefront-Api-Key`."
    },
    {
      "name": "HTML Mode Pages",
      "description": "Public HTML Mode runtime endpoints. These routes require `X-Scalev-Page-Api-Key` for the path page and reject storefront public API keys."
    },
    {
      "name": "OAuth",
      "description": "Public and machine OAuth token-management endpoints. The authorization code flow accepts the standard `scope` parameter; public OAuth clients may use PKCE with `token_endpoint_auth_method=none`, and metadata document clients may use `private_key_jwt`."
    },
    {
      "name": "Identity",
      "description": "Authenticated business identity context."
    },
    {
      "name": "Business Users",
      "description": "Authenticated business-user membership self-service endpoints."
    },
    {
      "name": "Landing Pages",
      "description": "Authenticated business landing page endpoints. The documented payloads focus on HTML Mode pages.",
      "externalDocs": {
        "description": "Read the Landing Pages API guide before creating or publishing HTML Mode pages.",
        "url": "https://docs.scalev.com/en/landing-pages-api"
      }
    },
    {
      "name": "Analytics Setup",
      "description": "Authenticated business analytics provider catalogs and pixel/container endpoints used when configuring landing page displays."
    },
    {
      "name": "OAuth Billing",
      "description": "OAuth billing runtime, refund, and developer finance endpoints."
    },
    {
      "name": "Customer Auth",
      "description": "Public customer authentication and password-reset endpoints."
    },
    {
      "name": "Customer Account",
      "description": "Authenticated customer profile endpoints."
    },
    {
      "name": "Customer Cart",
      "description": "Authenticated customer cart management endpoints."
    },
    {
      "name": "Customer Checkout",
      "description": "Authenticated customer checkout preparation and confirmation endpoints."
    },
    {
      "name": "Customer Orders",
      "description": "Authenticated customer order read endpoints."
    },
    {
      "name": "Customer Subscriptions",
      "description": "Authenticated customer subscription and subscription-item endpoints."
    },
    {
      "name": "Customer Courses",
      "description": "Authenticated customer digital course access and progress endpoints."
    },
    {
      "name": "Discounts",
      "description": "Discount-code validation and authenticated management endpoints."
    },
    {
      "name": "Locations",
      "description": "Authenticated business location lookup endpoints."
    },
    {
      "name": "Business Stores",
      "description": "Authenticated business store lookup endpoints. These routes use direct numeric Scalev store database IDs."
    },
    {
      "name": "Storefront Setup",
      "description": "Authenticated business setup endpoints for public storefront keys and CORS origins."
    },
    {
      "name": "Shipping",
      "description": "Authenticated business shipping lookup endpoints."
    },
    {
      "name": "Business Products",
      "description": "Authenticated business product, variant, taxonomy, and course management endpoints."
    },
    {
      "name": "Business Bundles",
      "description": "Authenticated business bundle, bundle-price-option, and related bundle-management endpoints."
    },
    {
      "name": "Business Customers",
      "description": "Authenticated business customer and customer-address management endpoints."
    },
    {
      "name": "WABA",
      "description": "Authenticated WhatsApp Business Account operations and related WABA resources."
    },
    {
      "name": "WhatsApp Integrations",
      "description": "Authenticated WhatsApp integration management endpoints."
    }
  ],
  "paths": {
    "/v3/me": {
      "get": {
        "tags": [
          "Identity"
        ],
        "operationId": "getAuthenticatedIdentity",
        "summary": "Get authenticated identity",
        "description": "Returns token-level identity for the bearer token. OAuth responses include the user, OAuth application, and active connected business installations for the token. If no active connected business remains, the endpoint returns `403` without identity data. Business-scoped API requests still resolve one selected business installation per request.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AuthenticatedIdentityResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/me/business-users": {
      "get": {
        "tags": [
          "Business Users"
        ],
        "operationId": "listBusinessUsers",
        "summary": "List authenticated user's business-user memberships",
        "description": "Returns the authenticated caller's business-user memberships. This is a user-scoped endpoint and does not use `b_uid` or selected-business context. Results use regular v3 cursor pagination ordered by membership ID descending by default. Use `sort_direction=asc` to list the earliest business membership first.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          },
          {
            "$ref": "#/components/parameters/PreviousCursor"
          },
          {
            "$ref": "#/components/parameters/SortDirection"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter memberships by business username or account holder."
          },
          {
            "name": "business_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter memberships by business account holder."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BusinessUserCollectionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/business-users/me": {
      "get": {
        "tags": [
          "Business Users"
        ],
        "operationId": "getCurrentBusinessUser",
        "summary": "Get current business user",
        "description": "Returns the selected business membership for the authenticated caller. Requires a business-authenticated credential and selected business context.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrentBusinessUserResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/business-users/me/leave": {
      "post": {
        "tags": [
          "Business Users"
        ],
        "operationId": "leaveBusiness",
        "summary": "Leave current business",
        "description": "Removes the authenticated caller's verified membership from the selected business. Owners and the final remaining business member cannot leave through this endpoint.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PasswordRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/business-users/me/accept-invitation": {
      "post": {
        "tags": [
          "Business Users"
        ],
        "operationId": "acceptBusinessInvitation",
        "summary": "Accept current business invitation",
        "description": "Accepts the selected pending business membership for the authenticated caller and returns the verified business-user record.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/AcceptBusinessInvitationRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrentBusinessUserResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/business-users/me/deny-invitation": {
      "post": {
        "tags": [
          "Business Users"
        ],
        "operationId": "denyBusinessInvitation",
        "summary": "Deny current business invitation",
        "description": "Deletes the authenticated caller's selected pending business membership. Already accepted memberships cannot be denied.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": []
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontItems",
        "summary": "List storefront items",
        "description": "Public storefront endpoint. Returns products and bundle price options visible in the storefront catalog.",
        "responses": {
          "200": {
            "description": "Paginated storefront item cards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontItemListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/items/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "countStorefrontItems",
        "summary": "Count storefront items",
        "description": "Public storefront endpoint. Counts products and bundle price options visible in the storefront catalog.",
        "responses": {
          "200": {
            "description": "Storefront item count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontItemCountResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/products/{slug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/ProductSlug"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getStorefrontProduct",
        "summary": "Get a storefront product by slug",
        "description": "Public storefront endpoint. Fetches a store-scoped product by slug; products hidden from storefront listing can still be fetched directly.",
        "responses": {
          "200": {
            "description": "Storefront product detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontProductDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/bundle-price-options/{slug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/BundlePriceOptionSlug"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getStorefrontBundlePriceOption",
        "summary": "Get a storefront bundle price option by slug",
        "description": "Public storefront endpoint. Fetches a store-scoped bundle price option by slug. Use the returned bundle_price_option_id in cart and checkout payloads.",
        "responses": {
          "200": {
            "description": "Storefront bundle price option detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontBundlePriceOptionDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/categories": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontCategories",
        "summary": "List storefront categories",
        "description": "Public storefront endpoint. Lists categories that have visible storefront products.",
        "responses": {
          "200": {
            "description": "Storefront category list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCategoryListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/payment-methods": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontPaymentMethods",
        "summary": "List storefront payment methods",
        "description": "Public storefront endpoint. Lists enabled public checkout payment methods for the store.",
        "responses": {
          "200": {
            "description": "Enabled payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPaymentMethodListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "searchStorefrontLocations",
        "summary": "Search storefront delivery locations",
        "description": "Public storefront endpoint. Supports direct province, city, district, or subdistrict search.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor returned by the previous response. Use only one of `next_cursor` or `previous_cursor`."
          },
          {
            "name": "previous_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor returned by the previous response. Use only one of `next_cursor` or `previous_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "Location search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontLocationListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/locations/provinces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontLocationProvinces",
        "summary": "List storefront delivery provinces",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional province name search."
          }
        ],
        "responses": {
          "200": {
            "description": "Province list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontProvinceListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/locations/cities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontLocationCities",
        "summary": "List storefront delivery cities",
        "parameters": [
          {
            "name": "province_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Province ID from `/public/locations/provinces`."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional city name search within the selected province."
          }
        ],
        "responses": {
          "200": {
            "description": "City list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCityListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/locations/subdistricts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontLocationSubdistricts",
        "summary": "List storefront delivery subdistricts",
        "parameters": [
          {
            "name": "city_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "City ID from `/public/locations/cities`."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional subdistrict name search within the selected city."
          }
        ],
        "responses": {
          "200": {
            "description": "Subdistrict list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontLocationListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/locations/{location_id}/postal-codes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/LocationId"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listStorefrontLocationPostalCodes",
        "summary": "List storefront delivery postal codes",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional postal code search within the selected location."
          }
        ],
        "responses": {
          "200": {
            "description": "Postal code list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPostalCodeListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/variants/pricing": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/VariantIds"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getStorefrontVariantPricing",
        "summary": "Get storefront variant pricing",
        "description": "Public storefront endpoint. Returns pricing for requested store-scoped variants, including variants whose products are hidden from storefront listing.",
        "responses": {
          "200": {
            "description": "Storefront variant pricing list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontVariantPricingResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/variants/{variant_id}/availability": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/VariantId"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getStorefrontVariantAvailability",
        "summary": "Get storefront variant inventory availability",
        "description": "Public storefront endpoint. Returns availability for a requested store-scoped variant, including variants whose products are hidden from storefront listing.",
        "responses": {
          "200": {
            "description": "Variant availability",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariantAvailability"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/cart": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getGuestCart",
        "summary": "Get the guest storefront cart",
        "description": "Public storefront endpoint. Returns guest cart items regardless of storefront listing visibility.",
        "responses": {
          "200": {
            "description": "Guest cart",
            "headers": {
              "X-Scalev-Guest-Token": {
                "description": "Browser-safe guest cart token. Reuse this value in the `X-Scalev-Guest-Token` request header.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestCart"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/cart/items": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "addGuestCartItem",
        "summary": "Add an item to the guest storefront cart",
        "description": "Public storefront endpoint. Direct cart additions are store-scoped and not blocked by storefront listing visibility.",
        "requestBody": {
          "$ref": "#/components/requestBodies/CartItemRequestBody"
        },
        "responses": {
          "201": {
            "description": "Guest cart",
            "headers": {
              "X-Scalev-Guest-Token": {
                "description": "Browser-safe guest cart token. Reuse this value in the `X-Scalev-Guest-Token` request header.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestCart"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/cart/items/{item_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        },
        {
          "$ref": "#/components/parameters/ItemId"
        }
      ],
      "patch": {
        "tags": [
          "Storefront"
        ],
        "operationId": "updateGuestCartItem",
        "summary": "Update a guest storefront cart item",
        "description": "Public storefront endpoint.",
        "requestBody": {
          "$ref": "#/components/requestBodies/CartItemUpdateRequestBody"
        },
        "responses": {
          "200": {
            "description": "Guest cart",
            "headers": {
              "X-Scalev-Guest-Token": {
                "description": "Browser-safe guest cart token. Reuse this value in the `X-Scalev-Guest-Token` request header.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestCart"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Storefront"
        ],
        "operationId": "removeGuestCartItem",
        "summary": "Remove a guest storefront cart item",
        "description": "Public storefront endpoint.",
        "responses": {
          "200": {
            "description": "Guest cart",
            "headers": {
              "X-Scalev-Guest-Token": {
                "description": "Browser-safe guest cart token. Reuse this value in the `X-Scalev-Guest-Token` request header.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestCart"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/cart/merge": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "mergeGuestCart",
        "summary": "Merge a guest cart into the authenticated customer cart",
        "description": "Public storefront endpoint.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Merged authenticated customer cart",
            "headers": {
              "X-Scalev-Guest-Token": {
                "description": "Browser-safe guest cart token used for the merge.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCartMergeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/checkout": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "createPublicCheckout",
        "summary": "Create a public checkout order",
        "description": "Public storefront endpoint. Create an order from direct `items`, from the guest cart referenced by `X-Scalev-Guest-Token`, or from direct `items` while clearing the referenced guest cart after successful order creation. Direct checkout items are store-scoped and not blocked by storefront listing visibility. Product prices, discounts, shipping, Other Income, the Store customer-fee policy, and service fees are recalculated from current backend data during creation. Preview values are not confirmation inputs and do not produce a quote-conflict response.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/PublicCheckoutRequestBody"
        },
        "responses": {
          "201": {
            "description": "Public checkout order",
            "headers": {
              "X-Scalev-Guest-Token": {
                "description": "Browser-safe guest cart token when the request used a guest cart.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPublicOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "searchPagePublicLocations",
        "summary": "Search HTML Mode delivery locations",
        "description": "Page-scoped public endpoint for HTML Mode location lookup. Requires the page public API key for the `page_unique_id` path page and validates the browser origin against domains attached to the page, or the business domains when the page has no attached domains.\n",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "next_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor returned by the previous response. Use only one of `next_cursor` or `previous_cursor`."
          },
          {
            "name": "previous_cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Cursor returned by the previous response. Use only one of `next_cursor` or `previous_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "Location search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontLocationListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/locations/provinces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "listPagePublicLocationProvinces",
        "summary": "List HTML Mode delivery provinces",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional province name search."
          }
        ],
        "responses": {
          "200": {
            "description": "Province list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontProvinceListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/locations/cities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "listPagePublicLocationCities",
        "summary": "List HTML Mode delivery cities",
        "parameters": [
          {
            "name": "province_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "Province ID from `/locations/provinces`."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional city name search within the selected province."
          }
        ],
        "responses": {
          "200": {
            "description": "City list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCityListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/locations/subdistricts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "get": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "listPagePublicLocationSubdistricts",
        "summary": "List HTML Mode delivery subdistricts",
        "parameters": [
          {
            "name": "city_id",
            "in": "query",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string"
                }
              ]
            },
            "description": "City ID from `/locations/cities`."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional subdistrict name search within the selected city."
          }
        ],
        "responses": {
          "200": {
            "description": "Subdistrict list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontLocationListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/locations/{location_id}/postal-codes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        },
        {
          "$ref": "#/components/parameters/LocationId"
        }
      ],
      "get": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "listPagePublicLocationPostalCodes",
        "summary": "List HTML Mode delivery postal codes",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional postal code search within the selected location."
          }
        ],
        "responses": {
          "200": {
            "description": "Postal code list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPostalCodeListResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/discount-codes/check": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "checkPagePublicDiscountCode",
        "summary": "Check an HTML Mode discount code",
        "description": "Page-scoped public endpoint for HTML Mode discount validation. The discount context is evaluated against the authenticated path page.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/PagePublicDiscountCodeCheckRequestBody"
        },
        "responses": {
          "200": {
            "description": "Discount code validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontDiscountCodeCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/checkout/shipping-options": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "listPagePublicCheckoutShippingOptions",
        "summary": "List HTML Mode checkout shipping options",
        "description": "Page-scoped public endpoint used by `Scalev.checkout.shippingOptions(payload)`. It accepts HTML Mode `items`, `destination`, and `payment_method`, then resolves the store from the authenticated page.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/PagePublicCheckoutShippingOptionsRequestBody"
        },
        "responses": {
          "200": {
            "description": "HTML Mode checkout shipping options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCheckoutShippingOptionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/checkout/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "getPagePublicCheckoutSummary",
        "summary": "Compute an HTML Mode checkout summary",
        "description": "Page-scoped public endpoint used by `Scalev.checkout.estimateSummary(payload)`. It accepts HTML Mode `items`, `destination`, `payment_method`, `shipping_option`, and an optional `discount_code_code`. It recomputes shipping and applies backend-owned Other Income and service fees for display. The current Store settings are the authoritative customer-fee policy; clients do not submit that policy or a fee confirmation ID.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/PagePublicCheckoutSummaryRequestBody"
        },
        "responses": {
          "200": {
            "description": "HTML Mode checkout summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCheckoutSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/orders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "createPagePublicOrder",
        "summary": "Create an HTML Mode public order",
        "description": "Page-scoped public endpoint for HTML Mode `Scalev.checkout.createOrder`. This route accepts HTML Mode order payloads with `customer`, `destination`, `items`, and `shipping_option`, requires `X-Scalev-Page-Api-Key`, and does not accept storefront public API keys. The page and store are resolved from the path and page API key; any `page_unique_id` or `store_unique_id` values supplied in the JSON body are ignored. Product prices, discounts, shipping, Other Income, the Store customer-fee policy, and service fees are recalculated from current backend data during creation; an earlier summary is not a confirmation input.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/PagePublicOrderCreateRequestBody"
        },
        "responses": {
          "201": {
            "description": "Flat HTML Mode public order object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPublicOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/analytics/meta/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "sendPagePublicMetaConversionEvent",
        "summary": "Send an HTML Mode Meta Conversion API event",
        "description": "Page-scoped public endpoint used by `Scalev.analytics.track(\"meta\", payload)` and `Scalev.analytics.track(\"facebook\", payload)`. The page path and API key select the page analytics configuration.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontMetaConversionEventRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/analytics/tiktok/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "sendPagePublicTiktokConversionEvent",
        "summary": "Send an HTML Mode TikTok Events API event",
        "description": "Page-scoped public endpoint used by `Scalev.analytics.track(\"tiktok\", payload)`. The page path and API key select the page analytics configuration.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontTiktokConversionEventRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_unique_id}/analytics/snackvideo/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PageUniqueId"
        },
        {
          "$ref": "#/components/parameters/PagePublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "HTML Mode Pages"
        ],
        "operationId": "sendPagePublicSnackVideoConversionEvent",
        "summary": "Send an HTML Mode SnackVideo event",
        "description": "Page-scoped public endpoint used by `Scalev.analytics.track(\"snackvideo\", payload)` and `Scalev.analytics.track(\"kwai\", payload)`. The page path and API key select the page analytics configuration.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontSnackVideoConversionEventRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/checkout/shipping-options": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "listPublicCheckoutShippingOptions",
        "summary": "List guest checkout shipping options",
        "description": "Public storefront endpoint. Direct `items` use the same typed checkout item union as final public checkout. When direct `items` are omitted, the guest cart referenced by `X-Scalev-Guest-Token` is used as the item source. Digital-only carts return an empty non-paginated collection.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontCheckoutShippingOptionsRequestBody"
        },
        "responses": {
          "200": {
            "description": "Guest checkout shipping options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCheckoutShippingOptionsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/checkout/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getPublicCheckoutSummary",
        "summary": "Compute guest checkout summary",
        "description": "Public storefront endpoint. Recomputes the selected shipping cost from destination, courier service, warehouse, payment method, and either direct `items` or the guest cart referenced by `X-Scalev-Guest-Token`. Client-supplied `shipping_cost` is ignored. Digital-only carts return `shipping_cost: \"0\"`. An optional `discount_code_code` is revalidated. Service fees use the current Store customer-fee policy and are returned for display without a confirmation ID.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontCheckoutSummaryRequestBody"
        },
        "responses": {
          "200": {
            "description": "Guest checkout summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontCheckoutSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/orders/{secret_slug}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/SecretSlug"
        }
      ],
      "get": {
        "tags": [
          "Storefront"
        ],
        "operationId": "getStorefrontPublicOrder",
        "summary": "Get a public storefront order",
        "description": "Public storefront endpoint.",
        "responses": {
          "200": {
            "description": "Public storefront order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPublicOrder"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      },
      "patch": {
        "tags": [
          "Storefront"
        ],
        "operationId": "updateStorefrontPublicOrder",
        "summary": "Update a public storefront order",
        "description": "Public storefront endpoint.",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontPublicOrderUpdateRequestBody"
        },
        "responses": {
          "200": {
            "description": "Updated public storefront order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPublicOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/orders/{secret_slug}/payment": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/SecretSlug"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "createStorefrontPublicOrderPayment",
        "summary": "Create a payment for a public storefront order",
        "description": "Public storefront endpoint. Idempotent for orders that already have payment instructions or already expose a `payment_url`.",
        "responses": {
          "200": {
            "description": "Public storefront order with payment instructions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPublicOrder"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/orders/{secret_slug}/transfer-proof-upload": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/SecretSlug"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "createStorefrontPublicOrderTransferProofUpload",
        "summary": "Create a transfer proof upload URL",
        "description": "Public storefront endpoint for manual `bank_transfer` payment confirmation. Returns a direct-to-storage `upload_url` plus the public `file_url`. Upload the image with `PUT upload_url`, then set the order's `transferproof_url` with `PATCH /v3/stores/{store_id}/public/orders/{secret_slug}`.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontPublicOrderTransferProofUploadRequestBody"
        },
        "responses": {
          "200": {
            "description": "Transfer proof upload metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontPublicOrderTransferProofUpload"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/discount-codes/check": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        },
        {
          "$ref": "#/components/parameters/StorefrontScalevGuestToken"
        }
      ],
      "post": {
        "tags": [
          "Discounts"
        ],
        "operationId": "checkDiscountCode",
        "summary": "Check discount code validity",
        "description": "Public storefront endpoint. Validate discount eligibility against the checkout context before order creation. If `X-Scalev-Guest-Token` resolves a non-empty guest cart, the cart is used as the item source. Otherwise the request may provide direct `items[]` with variant IDs. Unknown or ineligible codes return a validation result with `is_eligible: false`; the route itself only returns `404` when the store cannot be resolved.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontDiscountCodeCheckRequestBody"
        },
        "responses": {
          "200": {
            "description": "Discount code validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorefrontDiscountCodeCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/analytics/meta/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "sendStorefrontMetaConversionEvent",
        "summary": "Send a Meta Conversion API event",
        "description": "Public storefront endpoint. Sends browser-collected conversion events through Scalev using the Meta pixels configured on the store's hosted storefront analytics setup. The store path selects the storefront; do not send a custom domain to identify the store. A `204` means the payload was accepted for asynchronous delivery.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontMetaConversionEventRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/analytics/tiktok/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "sendStorefrontTiktokConversionEvent",
        "summary": "Send a TikTok Events API event",
        "description": "Public storefront endpoint. Sends browser-collected conversion events through Scalev using the TikTok pixels configured on the store's hosted storefront analytics setup. The store path selects the storefront; do not send a custom domain to identify the store. A `204` means the payload was accepted for asynchronous delivery.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontTiktokConversionEventRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/stores/{store_id}/public/analytics/snackvideo/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/StoreId"
        },
        {
          "$ref": "#/components/parameters/StorefrontPublicApiKey"
        }
      ],
      "post": {
        "tags": [
          "Storefront"
        ],
        "operationId": "sendStorefrontSnackVideoConversionEvent",
        "summary": "Send a SnackVideo Events API event",
        "description": "Public storefront endpoint. Sends browser-collected conversion events through Scalev using the SnackVideo server pixels configured on the store's hosted storefront analytics setup. The store path selects the storefront; do not send a custom domain to identify the store. A `204` means the payload was accepted for asynchronous delivery.\n",
        "requestBody": {
          "$ref": "#/components/requestBodies/StorefrontSnackVideoConversionEventRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/oauth/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "operationId": "getOAuthAuthorizationServerMetadata",
        "summary": "Get OAuth authorization server metadata",
        "description": "Public OAuth metadata endpoint. Advertises only `/v3` OAuth endpoints, dynamic client registration, Client ID Metadata Documents, PKCE, and supported global machine scopes.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OAuthAuthorizationServerMetadataResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/application": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "operationId": "getOAuthApplicationPublic",
        "summary": "Get public OAuth application metadata",
        "description": "No OAuth installation scope. OAuth flow endpoint.",
        "parameters": [
          {
            "description": "OAuth client ID.",
            "in": "query",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Redirect URI that must exactly match the application configuration.",
            "in": "query",
            "name": "redirect_uri",
            "required": true,
            "schema": {
              "format": "uri",
              "type": "string"
            }
          },
          {
            "description": "Optional resource audience. MCP clients use `https://mcp.scalev.com/mcp`. Official Scalev MCP DCR/CIMD clients default to this resource when omitted.",
            "in": "query",
            "name": "resource",
            "required": false,
            "schema": {
              "format": "uri",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/oauth/scopes": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "operationId": "listOAuthScopes",
        "summary": "List OAuth scopes",
        "description": "Public OAuth helper endpoint. Returns the MCP-compatible `/v3` machine scope catalog as a map from scope name to plain-English description.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OAuthScopeCatalogResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/applications/me": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "operationId": "getCurrentOAuthApplication",
        "summary": "Get current OAuth application",
        "description": "OAuth token identity helper endpoint. Returns the OAuth application represented by the presented access token and never includes the client secret.",
        "security": [
          {
            "scalevOAuth": []
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrentOAuthApplicationResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/oauth/register": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "operationId": "registerOAuthClient",
        "summary": "Register an OAuth client",
        "description": "Dynamic Client Registration endpoint for platform clients. Registrations are attached to Scalev's official OAuth application for supported resource audiences. Public clients should use `token_endpoint_auth_method=none` and PKCE.",
        "requestBody": {
          "$ref": "#/components/requestBodies/OAuthClientRegistrationRequestBody"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/OAuthClientRegistrationResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/token": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "operationId": "exchangeOAuthToken",
        "summary": "Exchange or refresh OAuth tokens",
        "description": "No OAuth installation scope. OAuth flow endpoint. Confidential clients authenticate with `client_secret_post` or HTTP Basic auth. Public client registrations with `token_endpoint_auth_method=none` omit `client_secret` and must use PKCE.",
        "requestBody": {
          "$ref": "#/components/requestBodies/OAuthTokenRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/revoke": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "operationId": "revokeOAuthToken",
        "summary": "Revoke an OAuth access or refresh token",
        "description": "No OAuth installation scope. OAuth flow endpoint.",
        "requestBody": {
          "$ref": "#/components/requestBodies/GenericJsonRequestBody"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/introspect": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "operationId": "introspectOAuthToken",
        "summary": "Introspect an OAuth access or refresh token",
        "description": "No OAuth installation scope. OAuth flow endpoint.",
        "requestBody": {
          "$ref": "#/components/requestBodies/GenericJsonRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/installation/status": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "operationId": "getOAuthInstallationStatus",
        "summary": "Get installed-app status snapshot",
        "description": "No OAuth installation scope. OAuth flow endpoint for app-backend installation status lookup.",
        "requestBody": {
          "$ref": "#/components/requestBodies/OAuthInstallationStatusRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OAuthInstallationStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/oauth/installation/launch-token/exchange": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "operationId": "exchangeOAuthInstallationLaunchToken",
        "summary": "Exchange an installed-app dashboard launch token",
        "description": "No OAuth installation scope. OAuth flow endpoint for exchanging a one-time Manage launch token for an installed-app status snapshot.",
        "requestBody": {
          "$ref": "#/components/requestBodies/OAuthInstallationLaunchTokenExchangeRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OAuthInstallationStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          }
        }
      }
    },
    "/v3/discount-codes": {
      "get": {
        "tags": [
          "Discounts"
        ],
        "operationId": "listDiscountCodes",
        "summary": "List discount codes",
        "description": "Business-scoped discount-code list ordered by discount-code ID descending. Supports code search plus `applied_to` and enabled-status filters. Results use v3 cursor pagination.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "discount_code:list"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          },
          {
            "$ref": "#/components/parameters/PreviousCursor"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive partial match against the discount code."
          },
          {
            "name": "applied_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "product_price",
                "shipping_cost"
              ]
            },
            "description": "Filter by the value the discount applies to."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "enabled",
                "disabled"
              ]
            },
            "description": "Filter by whether customers can use the discount code."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodeCollectionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Discounts"
        ],
        "operationId": "createDiscountCode",
        "summary": "Create a discount code",
        "description": "Creates a business-scoped discount code. The code is normalized to an uppercase, space-free value before saving.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "discount_code:create"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DiscountCodeCreateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodeResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailedResponse"
          }
        }
      }
    },
    "/v3/discount-codes/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/GenericId"
        }
      ],
      "get": {
        "tags": [
          "Discounts"
        ],
        "operationId": "getDiscountCode",
        "summary": "Get a discount code",
        "description": "Returns one business-scoped discount code.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "discount_code:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodeResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      },
      "patch": {
        "tags": [
          "Discounts"
        ],
        "operationId": "updateDiscountCode",
        "summary": "Update a discount code",
        "description": "Updates discount-code availability, usage, expiry, page, payment-method, and minimum-revenue settings. Code, discount type, and discount amount are immutable after creation.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "discount_code:update"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/DiscountCodeUpdateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodeResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailedResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Discounts"
        ],
        "operationId": "deleteDiscountCode",
        "summary": "Delete a discount code",
        "description": "Deletes a business-scoped discount code when it has no recorded usage.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "discount_code:delete"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages": {
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "listLandingPages",
        "summary": "List landing pages",
        "description": "Business-scoped landing page list. Returns Builder and HTML Mode pages visible to the authenticated business.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:list"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          },
          {
            "$ref": "#/components/parameters/PreviousCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageCollectionResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "createLandingPage",
        "summary": "Create a landing page",
        "description": "Creates a business-scoped landing page using the same page creation behavior as Landing Page Studio. The request body below documents the HTML Mode payload. To create and publish an HTML Mode page in one call, include `is_published: true` with `page_display`. If `is_published` is omitted or false, the nested `page_display` is saved as an unpublished draft and is not returned as the page's current display; create or pick a page display, then call `PATCH /v3/pages/{id}` with `is_published: true` and `current_page_display_id` to publish it.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:create"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LandingPageCreateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailedResponse"
          }
        }
      }
    },
    "/v3/pages/simplified": {
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "listLandingPagesSimplified",
        "summary": "List simplified landing pages",
        "description": "Business-scoped simplified landing page list using the same page filtering as Landing Page Studio.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:list"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          },
          {
            "$ref": "#/components/parameters/PreviousCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageSimplifiedCollectionResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/pages/tags": {
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "listLandingPageTags",
        "summary": "List landing page tags",
        "description": "Lists landing page tags visible to the authenticated business.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:list"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageTagCollectionResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          }
        }
      }
    },
    "/v3/pages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LandingPageId"
        }
      ],
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "getLandingPage",
        "summary": "Get a landing page",
        "description": "Returns a business-scoped landing page with its current published page display when one is selected.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      },
      "patch": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "updateLandingPage",
        "summary": "Update a landing page",
        "description": "Updates business-scoped landing page metadata and publishing state using the same page update behavior as Landing Page Studio. Send `is_published: true` with `current_page_display_id` to publish a page display, or `is_published: false` with `current_page_display_id: null` to unpublish the page.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:update"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LandingPageUpdateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailedResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "deleteLandingPage",
        "summary": "Delete a landing page",
        "description": "Soft-deletes a business-scoped landing page. Builder and HTML Mode pages are both deletable through this endpoint.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:delete"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{id}/public": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LandingPageId"
        }
      ],
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "getLandingPagePublicView",
        "summary": "Get landing page public view data",
        "description": "Returns the authenticated public rendering payload for a landing page.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPagePublicResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{id}/update-tags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LandingPageId"
        }
      ],
      "post": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "updateLandingPageTags",
        "summary": "Update landing page tags",
        "description": "Replaces the tags assigned to a landing page.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:update"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LandingPageTagUpdateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_id}/page-displays": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LandingPagePageId"
        }
      ],
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "listLandingPageDisplays",
        "summary": "List landing page displays",
        "description": "Lists saved displays for a landing page.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:list"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/NextCursor"
          },
          {
            "$ref": "#/components/parameters/PreviousCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageDisplayCollectionResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "createLandingPageDisplay",
        "summary": "Create a landing page display",
        "description": "Creates a new display for an existing landing page. The request body below documents the HTML Mode page display payload.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:update"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LandingPageDisplayRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageDisplayResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailedResponse"
          }
        }
      }
    },
    "/v3/pages/{page_id}/page-displays/validate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LandingPagePageId"
        }
      ],
      "post": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "validateLandingPageDisplay",
        "summary": "Validate a landing page display",
        "description": "Validates the same landing page display payload accepted by create without persisting a page-display record.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:update"
            ]
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/LandingPageDisplayRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageDisplayValidationResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/pages/{page_id}/page-displays/{display_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/LandingPagePageId"
        },
        {
          "$ref": "#/components/parameters/LandingPageDisplayId"
        }
      ],
      "get": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "getLandingPageDisplay",
        "summary": "Get a landing page display",
        "description": "Returns one saved landing page display.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LandingPageDisplayResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Landing Pages"
        ],
        "operationId": "deleteLandingPageDisplay",
        "summary": "Delete a landing page display",
        "description": "Deletes one saved landing page display.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "page:update"
            ]
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContentResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          }
        }
      }
    },
    "/v3/fb-standard-events": {
      "get": {
        "tags": [
          "Analytics Setup"
        ],
        "operationId": "listFacebookStandardEvents",
        "summary": "List Facebook standard events",
        "description": "Requires the `fb_pixel:list` scope.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          },
          {
            "scalevOAuth": [
              "fb_pixel:list"
            ]
[...]
